# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
FILES_API_REFACTOR.md
TPS_Implementation_Plan.md
MOVIE_CARD_FEATURE_PLAN.md
TODO.md
plan.md
fetch_threads.ts
fetch_user_threads.ts
migrate.ts
oldredis.ts
userid.ts
dist/migrate.js
dist/instant.schema.js
threads.json
threads_b7a9ec5a-2b46-4838-a9f8-6fd51a5940da.json
threads_335e7145-cf67-4c73-af5a-f2555b05d8dc.json
